In [ ]:
list1 = [0, 0,]
list1.append(0)

In [ ]:
list1

In [ ]:
list3 = [1,2,[3,4,'hello']]

In [ ]:
list3[2].pop(2)

In [ ]:
list3[2].append("goodbye")

In [ ]:
list3

In [ ]:
list4 = [5,3,4,6,1]

In [ ]:
list4.sort()

####

In [ ]:
list4

In [ ]:
d = {'simple_key':'hello'}

In [ ]:
d['simple_key']

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [ ]:
d["k1"]['k2']

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [ ]:
d['k1'][0]['nest_key'][1]

In [ ]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [ ]:
d['k1']

In [ ]:
d['k1'][2]

In [ ]:
d['k1'][2]['k2'][1]['tough'][2]

In [ ]:
4*(6+5)

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [ ]:
list5

In [ ]:
set(list5)

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
st = 'Print only the words that start with s in this sentence'
st.split()

In [ ]:
import random
difficulty=1
health = 50
potion_health = int(random.randint(25, 50) / difficulty)
health = health + potion_health
print(health)

In [ ]:
import math

In [ ]:
'hello'
name = 'danny'
print(type(name))

In [ ]:
hello = 'Hello World!'
print(hello)

In [ ]:
# Ask user for name.
Name = input('What is your name?: ')
# Ask user for age.
Age = input('How old are you?: ')
# Ask user for city.
Location = input('What city do you live in?: ')
# Ask use what they enjoy.
Enjoy = input('What types of things do you enjoy doing?: ')
# Create output text.
String = ("Hello, {} you're {} years old. You live in {}, and enjoy {}." )
Output = String.format(Name, Age, Location, Enjoy)
#Print output to screen.
print(Output)

In [ ]:
word = 'supercalifragilisticexpialidocious'

In [ ]:
word[2]

In [ ]:
word[0:5:1]

In [ ]:
word[5:9:1]

In [ ]:
word[::]

In [ ]:
word.index('cali')

In [ ]:
word = "antidisestablishmentarianism"

In [ ]:
answer = word[word.index('establishment'):word.index('arianism'):1]

In [ ]:
answer

In [ ]:
email = input('What is your email address?: ').strip()
username = email[:email.index("@"):1]
domain = email[email.index("@")+1:]
output_message = "Your user name is {} and your domain name is {}.".format(username, domain)
print(output_message)

In [ ]:
2>3

In [ ]:
type(2>3)

In [ ]:
2 == 1+1

In [ ]:
2 != 3

In [ ]:
Known_User = ["Danny", "Box", "Nina", "Becca", "Jim", "Sarah", "Sora", "Justin"]

while True:
    print("Hi! My name is Travis!")
    User_Name = input("What is your name?: ").strip().capitalize()
    
    if User_Name in Known_User:
        print_message = "Hello, {}!".format(User_Name)
        print(print_message)
        remove = input("Would you like to be removed from the system (y/n)?: ").lower()
        if remove == 'y':
            Known_User.remove(User_Name)
        elif remove == 'n':
            print("No problem, I didn't want you to leave anyway")
    else:
        print("Hmm, I don't think I have met you yet{} ".format(User_Name))
        add_me = input("Would you like to be added to the system (y'n)?".strip().lower())
        if add_me == "y":
            Known_User.append(User_Name)
        elif add_me == 'n':
            print("You have not been added to the list.")

In [4]:
Known_User = ["Becca","Box", "Nina", "Jim", "Sarah", "Sora", "Danny", "Justin"]


print("Hi! My name is Travis!")
User_Name = input("What is your name?: ").strip().capitalize()
    
if User_Name in Known_User:
    print_message = "Hello, {}!".format(User_Name)
    print(print_message)
    remove = input("Would you like to be removed from the system (y/n)?: ").lower()
    if remove == 'y':
        Known_User.remove(User_Name)
    elif remove == 'n':
        print("No problem, I didn't want you to leave anyway")
else:
    print("Hmm, I don't think I have met you yet{} ".format(User_Name))
    add_me = input("Would you like to be added to the system (y'n)?".strip().lower())
    if add_me == "y":
        Known_User.append(User_Name)
    elif add_me == 'n':
        print("You have not been added to the list.")

Hi! My name is Travis!
What is your name?: Danny
Hello, Danny!
Would you like to be removed from the system (y/n)?: y

In [ ]:
Films = {
    "Ron's Gone Wild": [3,5],
    "The Last Duel": [18,5],
    "Free Guy": [14, 5],
    "Dune": [12,5]
}

while True:
    Movie_choice = input('What movie would you like to watch today?: ').title().strip()
    if Movie_choice in Films:
        User_age = int(input("Please enter your age.: ").strip())
        if User_age >= Films[Movie_choice][0]:
            if Films[Movie_choice][1]>0:
                print("Enjoy your movie!")
                Films[Movie_choice][1] = Films[Movie_choice][1] - 1
            else:
                print("Sorry this movie is sold out.")
        else:
            print("You are too young to watch this movie.")
    else:
        print("This movie is unavailable.")

In [7]:
print('Please enter the following information.')
trt = int(input('What is your total race time?: '))
lt = int(input('What is your lap time: '))
fpl = int(input('How much fuel is used per lap: '))
race_calc = trt / lt * fpl
print(race_calc)

Please enter the following information.
What is your total race time?: 45
What is your lap time: 2
How much fuel is used per lap: 3
67.5

In [6]:
hours = int(input("Input hours: ")) * 3600
minutes = int(input("Input minutes: ")) * 60
seconds = int(input("Input seconds: "))

time = hours + minutes + seconds

Input hours: 2
Input minutes: 2
Input seconds: 2

Define a function called myfunc that takes in a string, and returns a matching string where every
even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only
contains letters, and don't worry about numbers, spaces or punctuation. The output string
can start with either an uppercase or lowercase letter, so long as letters alternate throughout the
string

1. create the empty list, out

2. loop through all the valid indexes of x, which is what range(len(x)) returns

3. check if the index, i is evenly divisible by 2. If so, append the letter at index i to out after converting it to lowercase; if not, append the letter at index i to out after converting to uppercase.

5. use join to convert the list to a string, then return that string.

In [14]:
def myfunc(args):
    output=[]
    for x in range(len(args)):
        if x%2==0:
            output.append(args[x].lower())
        else:
            output.append(args[x].upper())
    return ''.join(output)

In [7]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [10]:
say_hello('danny')

Hello danny

In [15]:
myfunc('abcdefghijklmnopqrstuvwxyz')

'aBcDeFgHiJkLmNoPqRsTuVwXyZ'

In [10]:
def name_of_function():
    '''
    This is where the function's Document String (docstring) goes.
    When you call help() on your function it will be printed out.
    '''
    #Do stuff here
    print ("this is a function",)

In [9]:
name_of_function()

this is a function Hello

In [2]:
tuple_example = [("item_1", "item_2"), ("item 3", 4), (5, 6)]

In [11]:
tuple_example.count("item_2")

0

In [17]:
for item in tuple_example:
    print(item)

('item_1', 'item_2')
('item 3', 4)
(5, 6)

In [18]:
for item1,item2 in tuple_example:
    print(item1)

item_1
item 3
5

In [19]:
for item1,item2 in tuple_example:
    print(item1)
    print(item2)

item_1
item_2
item 3
4
5
6

In [8]:
time_scale = [('1 year',365),('1 decade',3650),('1 century',36500),('1 millennium',365000)]

In [9]:
def time_length_check(time_scale):
    #variable placeholders
    unit_of_time = ''
    amount_of_days = 0

#when dealing with tuples you must include an iterator for each item inside the tuples if you wish to access them both.
    for unit,days in time_scale:
        if amount_of_days < days:
            amount_of_days = days
            unit_of_time = unit
        else:
            pass
    return (unit_of_time, amount_of_days)

In [10]:
time_length_check(time_scale)

('1 millennium', 365000)

In [40]:
from random import shuffle

In [41]:
def shell_randomizer(shell_game_token):
    shuffle(shell_game_token)
    return shell_game_token

In [42]:
shell_game_token = ['','O','']

In [48]:
def player_guess():
    guess = ''
    while guess not in ['0','1','2']: 
        guess = input('pick a number: 0, 1, or 2')
    return int(guess)

In [44]:
player_guess()

pick a number: 1, 2, or 3
pick a number: 1, 2, or 3
pick a number: 1, 2, or 3
pick a number: 1, 2, or 32

2

In [30]:
guess_attempt = player_guess()

pick a number: 1, 2, or 31

In [45]:
guess_attempt

1

In [49]:
def guess_checker(shell_game_token,guess):
    if shell_game_token[guess] == 'O':
        print('Congragulations, you guessed correct!')
    else:
        print('Wrong guess, try again next time!')
        print(shell_game_token)

In [51]:
shell_game_token = ['','O','']
shuffled_token = shell_randomizer(shell_game_token)
guess = player_guess()
guess_checker(shuffled_token,guess)

pick a number: 0, 1, or 21
Congragulations, you guessed correct!

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [41]:
def almost_there(n):
    if int(abs(n))-100 < 10:
        return True
    elif int(abs(n))-200 <10:
        return True
    else:
        return False

In [42]:
# Check
almost_there(104)

True

In [43]:
# Check
almost_there(150)

True

In [44]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [12]:
def has_33(nums):
    for i in nums:
        if str(nums[i])+str(nums[i+1])=='33':
            return True
        else:
            return False
    pass

In [13]:
# Check
has_33([1, 3, 3])

not working

In [14]:
# Check
has_33([1, 3, 1, 3])

not working

In [15]:
# Check
has_33([3, 1, 3])

not working

In [50]:
test_list_one = [1,2,3]
test_list_two = [3,4,5]

In [54]:
test_list_one[0]+test_list_one[1]

3

In [2]:
Box = 'Boomer'
while True
 if Box == 'Boomer'

SyntaxError: invalid syntax (1988067034.py, line 1)