In [ ]:
string = "this is a test"

In [ ]:
string

In [ ]:
string[1:5]

In [ ]:
x = "it's cold, outside~"

In [ ]:
sarah = "Baby, "

In [ ]:
sarah + x

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
for words in st.split:
    if words[0]:

In [ ]:
st.split()

In [ ]:
print(f"Hello my name is {sarah} and that is {d}".format(d = "danny"))

In [ ]:
sarah = "Baby, "

In [ ]:
print(f"Hello my name is {sarah} and that is {d}".format(d = "danny"))

In [ ]:
def monkey_trouble(a_smile, b_smile):
  if a_smile and b_smile:
    return True
  if not a_smile and not b_smile:
    return True
  return False

In [ ]:
def sum_double(a, b):
    if a != b:
        return int(a+b)
    else:
        return int(a*2)


Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21.

In [12]:
def diff21(n):
    if n <= 21:
        return 21-n
    elif n >= 21:
        return sum*2

We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.

In [2]:
def parrot_trouble(talking, hour):
    return (talking and (hour < 7 or hour > 20))

In [5]:
parrot_trouble(talking, 15)

NameError: name 'talking' is not defined

In [11]:
def makes10(a, b):
    if a+b==10:
        return True
    elif a==10 or b==10:
        return True
    else: 
        return False


Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.

In [1]:
def near_hundred(n):
    return abs(100-n)<=10 or abs(200-n)<=10

Given 2 int values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative.

In [5]:
def pos_neg(a, b, negative):
    if negative:
        return a<0 and b<0
    else:
        return (a<0 and b>0) or (a>0 and b<0)
pass


Given a string, return a new string where "not " has been added to the front. However, if the string already begins with "not", return the string unchanged.

In [39]:
def not_string(str):
    if ("not") in str:
        return str
    else:
        return "not "+str

In [40]:
def not_string(str):
      if len(str) >= 3 and str[:3] == "not":
        return str
      return "not " + str

In [41]:
not_string("candy")

'not candy'

Given a non-empty string and an int n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).


missing_char('kitten', 1) → 'ktten'                                                          
missing_char('kitten', 0) → 'itten'                                                          
missing_char('kitten', 4) → 'kittn'

In [51]:
def missing_char(str, n):
    part_one= str[0:int(n)]
    part_two= str[int(n)+1::]
    return part_one+part_two
pass

In [52]:
missing_char("kitten", 0)

'itten'


Given a string, return a new string where the first and last chars have been exchanged.

In [62]:
def front_back(str):
    first_letter=str[0]
    last_letter=str[-1]
    main_body=str[1:-1]
    return last_letter+main_body+first_letter

In [64]:
front_back("supercalifragilisticexpialidociousd")

'dupercalifragilisticexpialidociouss'

In [74]:
def front_back(str):
    if len(str) <= 1:
        return str
        mid = str[1:len(str)-1]
        return str[len(str)-1] + mid + str[0]
        print(str)

In [75]:
front_back("supercalifragilisticexpialidociousd")


Given a string, we'll say that the front is the first 3 chars of the string. If the string length is less than 3, the front is whatever is there. Return a new string which is 3 copies of the front.


    front3('Java') → 'JavJavJav'
    front3('Chocolate') → 'ChoChoCho'
    front3('abc') → 'abcabcabc'

def front3(str):
    return str[0:3]*3

In [79]:
front3("su")

'sususu'

Given a string and a non-negative int n, return a larger string that is n copies of the original string.


string_times('Hi', 2) → 'HiHi'

string_times('Hi', 3) → 'HiHiHi'

string_times('Hi', 1) → 'Hi'

In [80]:
def string_times(str, n):
    return str*int(n)

In [82]:
string_times("supercalifragilisticexpialidociousd", -2)

''

Given a string and a non-negative int n, we'll say that the front of the string is the first 3 chars, or whatever is there if the string is less than length 3. Return n copies of the front;


front_times('Chocolate', 2) → 'ChoCho'

front_times('Chocolate', 3) → 'ChoChoCho'

front_times('Abc', 3) → 'AbcAbcAbc'

In [101]:
def front_times(str, n):
    return str[0:3]*int(n)

In [102]:
front_times("supercalifragilisticexpialidociousd", 5)

'supsupsupsupsup'

Given a string, return a new string made of every other char starting with the first, so "Hello" yields "Hlo".


string_bits('Hello') → 'Hlo'

string_bits('Hi') → 'H'

string_bits('Heeololeo') → 'Hello'

In [105]:
def string_bits(str):
    return str[::2]

In [107]:
string_bits("Hello")

'Hlo'


Given a non-empty string like "Code" return a string like "CCoCodCode".


string_splosion('Code') → 'CCoCodCode'

string_splosion('abc') → 'aababc'

string_splosion('ab') → 'aab'

In [125]:
def string_splosion(str):
    result = ""
    for i in range(len(str)):
        result = result + str[:i+1]
    return result

In [126]:
string_splosion('Hello')

'HHeHelHellHello'


Given a string, return the count of the number of times that a substring length 2 appears in the string and also as the last 2 chars of the string, so "hixxxhi" yields 1 (we won't count the end substring).


last2('hixxhi') → 1

last2('xaxxaxaxx') → 1

last2('axxxaaxx') → 2

In [27]:
def last2(str):
    if len(str) < 2:
        pass
    last2 = str[len(str)-2:]
    count=0
    
    for i in range(len(str)-2):
        sub = str[i:i+2]
        if sub == last2:
            count = count +1
    return count

In [26]:
last2('axxxaaxx')

2


Given an array of ints, return the number of 9's in the array.

    array_count9([1, 2, 9]) → 1
    array_count9([1, 9, 9]) → 2
    array_count9([1, 9, 9, 3, 9]) → 3

In [16]:
def array_count9(nums):
    count=0
    for num in nums:
        if num==9:
            count = count+1
    return count

In [17]:
array_count9([1,9,9,3,9])

3


Given an array of ints, return True if one of the first 4 elements in the array is a 9. The array length may be less than 4.


    array_front9([1, 2, 9, 3, 4]) → True
    array_front9([1, 2, 3, 4, 9]) → False
    array_front9([1, 2, 3, 4, 5]) → False

In [38]:
def array_front9(nums):
    end=len(nums)
    if end>4:
        end = 4
    for x in range(end):
        if nums[x]==9:
            return True
    return False

In [39]:
array_front9([1,2,3,4])

False

Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.

    array123([1, 1, 2, 3, 1]) → True
    array123([1, 1, 2, 4, 1]) → False
    array123([1, 1, 2, 1, 2, 3]) → True

In [ ]:
def array123(nums):
    for i in range(len(nums)-2):
        if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
            return True
    return False

In [ ]:
array123([1, 1, 2, 1, 2, 3])


Given 2 strings, a and b, return the number of the positions where they contain the same length 2 substring. So "xxcaazz" and "xxbaaz" yields 3, since the "xx", "aa", and "az" substrings appear in the same place in both strings.


string_match('xxcaazz', 'xxbaaz') → 3

string_match('abc', 'abc') → 2

string_match('abc', 'axc') → 0

In [7]:
def string_match(a, b):
    count=0
    shorter = min(len(a), len(b))
    for i in range(shorter-1):
        a_sub = a[i:i+2]
        b_sub = b[i:i+2]
        if a_sub == b_sub:
            count = count + 1
    return count

In [8]:
string_match('xxcaazz', 'xxbaaz')

3

Given a string name, e.g. "Bob", return a greeting of the form "Hello Bob!".


    hello_name('Bob') → 'Hello Bob!'
    hello_name('Alice') → 'Hello Alice!'
    hello_name('X') → 'Hello X!'

In [32]:
def hello_name(name):
    return 'Hello '+(name)+'!'

In [33]:
hello_name('Bob')

'Hello Bob!'

Given two strings, a and b, return the result of putting them together in the order abba, e.g. "Hi" and "Bye" returns "HiByeByeHi".


    make_abba('Hi', 'Bye') → 'HiByeByeHi'
    make_abba('Yo', 'Alice') → 'YoAliceAliceYo'
    make_abba('What', 'Up') → 'WhatUpUpWhat'

In [30]:
def make_abba(a, b):
    return a+b+b+a

In [31]:
make_abba('Hi', 'Bye')

'HiByeByeHi'

The web is built with HTML strings like "<i>Yay</i>" which draws Yay as italic text. In this example, the "i" tag makes <i> and </i> which surround the word "Yay". Given tag and word strings, create the HTML string with tags around the word, e.g. "<i>Yay</i>".


    make_tags('i', 'Yay') → '<i>Yay</i>'
    make_tags('i', 'Hello') → '<i>Hello</i>'
    make_tags('cite', 'Yay') → '<cite>Yay</cite>'

In [13]:
def make_tags(tag, word):
    return (f'<{tag}>{word}</{tag}>')

In [14]:
make_tags('i', 'apple')

'<i>apple</i>'

In [15]:
def make_tags(tag, word):
    return ('<{}><{}></{}>'.format(tag, word, tag))

In [16]:
make_tags('i', 'Yay')

'<i><Yay></i>'

In [17]:
make_tags('cite', 'Yay')

'<cite><Yay></cite>'

In [18]:
make_tags('address', 'here')

'<address><here></address>'

In [19]:
def make_tags(tag, word):
    return "<" + tag + ">" + word + "</" + tag + ">"

In [20]:
make_tags('address', 'here')

'<address>here</address>'

Given an "out" string length 4, such as "<<>>", and a word, return a new string where the word is in the middle of the out string, e.g. "<<word>>".

    make_out_word('<<>>', 'Yay') → '<<Yay>>'
    make_out_word('<<>>', 'WooHoo') → '<<WooHoo>>'
    make_out_word('[[]]', 'word') → '[[word]]'

In [38]:
def make_out_word(out, word):
    out_splitter = []
    step_count = int(len(out)/2)
    for index in range(0, len(out), step_count):
        out_splitter.append(out[index:index+step_count])
    return out_splitter[0]+word+out_splitter[1]

In [39]:
#check
make_out_word("<<>>", 'word')

'<<word>>'

In [42]:
def make_out_word(out, word):
    step_count = int(len(out)/2)
    out_splitter = [out[index:index+step_count] for index in range(0, len(out), step_count)]
    return out_splitter[0]+word+out_splitter[1]

In [44]:
#check
make_out_word("<<<>>>", 'word')

'<<<word>>>'


Given a string, return a new string made of 3 copies of the last 2 chars of the original string. The string length will be at least 2.


    extra_end('Hello') → 'lololo'
    extra_end('ab') → 'ababab'
    extra_end('Hi') → 'HiHiHi'

In [32]:
def extra_end(end_str):
    if len(end_str)<2:
        print('input not long enough for function')
    else:
        return end_str[-2:]*3

In [33]:
extra_end('danny')

'nynyny'


Given a string, return the string made of its first two chars, so the String "Hello" yields "He". If the string is shorter than length 2, return whatever there is, so "X" yields "X", and the empty string "" yields the empty string "".


    first_two('Hello') → 'He'
    first_two('abcdefg') → 'ab'
    first_two('ab') → 'ab'

In [39]:
def first_two(first_str):
    if len(first_str)<2:
        return first_str
    else:
        return first_str[0:2]

In [40]:
first_two('Hello')

'He'

In [41]:
first_two('abcdefg')

'ab'


Given a string of even length, return the first half. So the string "WooHoo" yields "Woo".


    first_half('WooHoo') → 'Woo'
    first_half('HelloThere') → 'Hello'
    first_half('abcdef') → 'abc'

In [6]:
def first_half(first_half_str):
    fhs=int(len(first_half_str)/2)
    return first_half_str[:fhs]

In [7]:
first_half('WooHoo')

'Woo'


Given a string, return a version without the first and last char, so "Hello" yields "ell". The string length will be at least 2.


    without_end('Hello') → 'ell'
    without_end('java') → 'av'
    without_end('coding') → 'odin'

In [12]:
def without_end(without_end_str):
    wes_end=int(len(without_end_str)-1)
    return without_end_str[1:wes_end]

In [13]:
without_end('Hello')

'ell'

Given 2 strings, a and b, return a string of the form short+long+short, with the shorter string on the outside and the longer string on the inside. The strings will not be the same length, but they may be empty (length 0).


    combo_string('Hello', 'hi') → 'hiHellohi'
    combo_string('hi', 'Hello') → 'hiHellohi'
    combo_string('aaa', 'b') → 'baaab'

In [27]:
def combo_string(a, b):
    if len(a) > len(b):
        a, b = b, a
    return ("{}{}{}".format(b, a, b))

In [20]:
def combo_string(a, b):
    return (f"{a}{b}{a}")

In [28]:
combo_string('Hello', 'hi')

'HellohiHello'

In [29]:
combo_string('hi', 'Hello')

'HellohiHello'

In [19]:
combo_string('b','aaa')

'aaabaaa'

Given 2 strings, return their concatenation, except omit the first char of each. The strings will be at least length 1.


    non_start('Hello', 'There') → 'ellohere'
    non_start('java', 'code') → 'avaode'
    non_start('shotl', 'java') → 'hotlava'

In [30]:
def non_start(a, b):
    return a[1:]+b[1:]

In [31]:
non_start('Hello', 'There')

'ellohere'

Given a string, return a "rotated left 2" version where the first 2 chars are moved to the end. The string length will be at least 2.


    left2('Hello') → 'lloHe'
    left2('java') → 'vaja'
    left2('Hi') → 'Hi'

In [32]:
def left2(left2_str):
    return left2_str[2:]+left2_str[:2]

In [33]:
left2('Hello')

'lloHe'

Given an array of ints, return True if 6 appears as either the first or last element in the array. The array will be length 1 or more.


    first_last6([1, 2, 6]) → True
    first_last6([6, 1, 2, 3]) → True
    first_last6([13, 6, 1, 2, 3]) → False

In [38]:
def first_last6(nums):
    if nums[0]==6 or nums[-1]==6:
        return True
    else:
        return False

In [39]:
first_last6([1, 2, 6])

True

In [40]:
first_last6([13, 6, 1, 2, 3])

False

Given an array of ints, return True if the array is length 1 or more, and the first element and the last element are equal.


    same_first_last([1, 2, 3]) → False
    same_first_last([1, 2, 3, 1]) → True
    same_first_last([1, 2, 1]) → True

In [45]:
def same_first_last(nums):
     return len(nums) >= 1 and nums[0] == nums[-1]

In [46]:
same_first_last([1, 2, 3])

False

In [47]:
same_first_last([1, 2, 3, 1])

True

Return an int array length 3 containing the first 3 digits of pi, {3, 1, 4}.


    make_pi() → [3, 1, 4]

In [1]:
def make_pi():
    return [3, 1, 4]

In [2]:
make_pi()

[3, 1, 4]


Given 2 arrays of ints, a and b, return True if they have the same first element or they have the same last element. Both arrays will be length 1 or more.


    common_end([1, 2, 3], [7, 3]) → True
    common_end([1, 2, 3], [7, 3, 2]) → False
    common_end([1, 2, 3], [1, 3]) → True

In [8]:
def common_end(a, b):
    return a[0]==b[0] or a[-1]==b[-1]

In [9]:
common_end([1, 2, 3], [7, 3])

True

In [10]:
common_end([1, 2, 3], [7, 3, 2])

False


Given an array of ints length 3, return the sum of all the elements.


    sum3([1, 2, 3]) → 6
    sum3([5, 11, 2]) → 18
    sum3([7, 0, 0]) → 7

In [54]:
def sum3(nums):
    return sum(nums)

In [55]:
sum3([1, 2, 3])

6

Given an array of ints length 3, return an array with the elements "rotated left" so {1, 2, 3} yields {2, 3, 1}.

    rotate_left3([1, 2, 3]) → [2, 3, 1]
    rotate_left3([5, 11, 9]) → [11, 9, 5]
    rotate_left3([7, 0, 0]) → [0, 0, 7]

In [63]:
def rotate_left3(nums):
    return [nums[1],nums[2],nums[0]]

In [64]:
rotate_left3([1, 2, 3])

[2, 3, 1]

In [65]:
rotate_left3([5, 11, 9])

[11, 9, 5]

In [66]:
rotate_left3([1, 2, 1])

[2, 1, 1]


Given an array of ints length 3, return a new array with the elements in reverse order, so {1, 2, 3} becomes {3, 2, 1}.


    reverse3([1, 2, 3]) → [3, 2, 1]
    reverse3([5, 11, 9]) → [9, 11, 5]
    reverse3([7, 0, 0]) → [0, 0, 7]

In [69]:
def reverse3(nums):
    return nums[::-1]

In [70]:
reverse3([1, 2, 3])

[3, 2, 1]

Given an array of ints length 3, figure out which is larger, the first or last element in the array, and set all the other elements to be that value. Return the changed array.


    max_end3([1, 2, 3]) → [3, 3, 3]
    max_end3([11, 5, 9]) → [11, 11, 11]
    max_end3([2, 11, 3]) → [3, 3, 3]

In [88]:
def max_end3(nums):
    y=nums[0]
    x=nums[2]
    i=max (x,y)
    return [i,i,i]

In [89]:
max_end3([1, 2, 3])

[3, 3, 3]

In [90]:
max_end3([11, 5, 9])

[11, 11, 11]

In [91]:
max_end3([2, 11, 3])

[3, 3, 3]

Given an array of ints, return the sum of the first 2 elements in the array. If the array length is less than 2, just sum up the elements that exist, returning 0 if the array is length 0.


    sum2([1, 2, 3]) → 3
    sum2([1, 1]) → 2
    sum2([1, 1, 1, 1]) → 2

In [108]:
def sum2(nums):
    if len(nums)<2:
        return sum(nums)
    return nums[0]+nums[1]

In [109]:
sum2([1, 2, 3])

3

In [110]:
sum2([1, 1])

2

In [111]:
sum2([1, 1, 1, 1])

2

In [112]:
sum2([])

0

Given 2 int arrays, a and b, each length 3, return a new array length 2 containing their middle elements.

    middle_way([1, 2, 3], [4, 5, 6]) → [2, 5]
    middle_way([7, 7, 7], [3, 8, 0]) → [7, 8]
    middle_way([5, 2, 9], [1, 4, 5]) → [2, 4]

In [117]:
def middle_way(a, b):
    return [a[1],b[1]]

In [118]:
middle_way([1, 2, 3], [4, 5, 6])

[2, 5]

In [119]:
middle_way([7, 7, 7], [3, 8, 0])

[7, 8]

In [120]:
middle_way([5, 2, 9], [1, 4, 5])

[2, 4]

Given an array of ints, return a new array length 2 containing the first and last elements from the original array. The original array will be length 1 or more.

    make_ends([1, 2, 3]) → [1, 3]
    make_ends([1, 2, 3, 4]) → [1, 4]
    make_ends([7, 4, 6, 2]) → [7, 2]

In [124]:
def make_ends(nums):
    return[nums[0],nums[-1]]

In [125]:
make_ends([1, 2, 3])

[1, 3]

In [126]:
make_ends([1, 2, 3, 4])

[1, 4]

In [127]:
make_ends([7, 4, 6, 2])

[7, 2]

Given an int array length 2, return True if it contains a 2 or a 3.


    has23([2, 5]) → True
    has23([4, 3]) → True
    has23([4, 5]) → False

In [142]:
def has23(nums):
    if 2 in nums or 3 in nums:
        return True
    return False

In [143]:
has23([2, 5])

True

In [144]:
has23([4, 5])

False

When squirrels get together for a party, they like to have cigars. A squirrel party is successful when the number of cigars is between 40 and 60, inclusive. Unless it is the weekend, in which case there is no upper bound on the number of cigars. Return True if the party with the given values is successful, or False otherwise.

    cigar_party(30, False) → False
    cigar_party(50, False) → True
    cigar_party(70, True) → True

In [194]:
def cigar_party(cigars, is_weekend):
    if is_weekend==True:
        if cigars>=40:
            return True
    elif is_weekend==False:
        if cigars in range(40,61):
            return True
    return False

In [195]:
cigar_party(30, False)

False

In [196]:
cigar_party(50, False)

True

In [197]:
cigar_party(70, True)

True

In [198]:
cigar_party(60, False)

True

In [199]:
cigar_party(40, True)

True

You and your date are trying to get a table at a restaurant. The parameter "you" is the stylishness of your clothes, in the range 0..10, and "date" is the stylishness of your date's clothes. The result getting the table is encoded as an int value with 0=no, 1=maybe, 2=yes. If either of you is very stylish, 8 or more, then the result is 2 (yes). With the exception that if either of you has style of 2 or less, then the result is 0 (no). Otherwise the result is 1 (maybe).

    date_fashion(5, 10) → 2
    date_fashion(5, 2) → 0
    date_fashion(5, 5) → 1

In [210]:
def date_fashion(you, date):
    if you<=2 or date<=2:
        return 0
    elif you>=8 or date>=8:
        return 2 
    else:
        return 1

In [213]:
date_fashion(5, 10)

2

In [214]:
date_fashion(5, 2)

0

In [215]:
date_fashion(5, 5)

1

In [216]:
date_fashion(2, 10)

0

The squirrels in Palo Alto spend most of the day playing. In particular, they play if the temperature is between 60 and 90 (inclusive). Unless it is summer, then the upper limit is 100 instead of 90. Given an int temperature and a boolean is_summer, return True if the squirrels play and False otherwise.

    squirrel_play(70, False) → True
    squirrel_play(95, False) → False
    squirrel_play(95, True) → True

In [219]:
def squirrel_play(temp, is_summer):
    if is_summer==True:
        if temp in range(60,101):
            return True
    elif is_summer==False:
        if temp in range(60,91):
            return True
    return False

In [220]:
squirrel_play(70, False)

True

In [221]:
squirrel_play(95, False)

False

In [222]:
squirrel_play(95, True)

True

You are driving a little too fast, and a police officer stops you. Write code to compute the result, encoded as an int value: 0=no ticket, 1=small ticket, 2=big ticket. If speed is 60 or less, the result is 0. If speed is between 61 and 80 inclusive, the result is 1. If speed is 81 or more, the result is 2. Unless it is your birthday -- on that day, your speed can be 5 higher in all cases.


    caught_speeding(60, False) → 0
    caught_speeding(65, False) → 1
    caught_speeding(65, True) → 0

In [262]:
def caught_speeding(speed, is_birthday):
    if is_birthday==True:
        speed=speed-5
    if speed<=60:
        return 0
    elif speed in range(61,81):
        return 1
    elif speed>=81:
        return 2

In [263]:
caught_speeding(60, False)

0

In [264]:
caught_speeding(65, False)

1

In [265]:
caught_speeding(65, True)

0

In [268]:
caught_speeding(85, False)

2

In [269]:
caught_speeding(85, True)

1

Given 2 ints, a and b, return their sum. However, sums in the range 10..19 inclusive, are forbidden, so in that case just return 20.


    sorta_sum(3, 4) → 7
    sorta_sum(9, 4) → 20
    sorta_sum(10, 11) → 21

In [293]:
def sorta_sum(a, b):
    if  a + b in range(10,20):
        return 20
    return a+b

In [290]:
sorta_sum(3, 4)

7

In [291]:
sorta_sum(9, 4)

20

In [303]:
sorta_sum(10, 11)

21

Given a day of the week encoded as 0=Sun, 1=Mon, 2=Tue, ...6=Sat, and a boolean indicating if we are on vacation, return a string of the form "7:00" indicating when the alarm clock should ring. Weekdays, the alarm should be "7:00" and on the weekend it should be "10:00". Unless we are on vacation -- then on weekdays it should be "10:00" and weekends it should be "off".

    alarm_clock(1, False) → '7:00'
    alarm_clock(5, False) → '7:00'
    alarm_clock(0, False) → '10:00'

In [117]:
def alarm_clock(day, vacation):
    if vacation==True:
        if day in range(1,6):
            return '10:00'
        return 'off'
    if day in range(1,6):
        return '7:00'
    return '10:00'

In [118]:
alarm_clock(1, False)

'7:00'

In [119]:
alarm_clock(5, False)

'7:00'

In [120]:
alarm_clock(0, False)

'10:00'

In [121]:
alarm_clock(0, True)

'off'

In [122]:
alarm_clock(3, True)

'10:00'

In [123]:
alarm_clock(5, False)

'7:00'

In [124]:
alarm_clock(5, True)

'10:00'

The number 6 is a truly great number. Given two int values, a and b, return True if either one is 6. Or if their sum or difference is 6. Note: the function abs(num) computes the absolute value of a number.

    love6(6, 4) → True
    love6(4, 5) → False
    love6(1, 5) → True

In [161]:
def love6(a, b):
    return a==6 or b==6 or a-b==abs(6) or a+b==abs(6) or b-a==abs(6) or b-a==abs(6)

In [162]:
love6(6, 4)

True

In [163]:
love6(4, 5)

False

In [164]:
love6(1, 5)

True

In [165]:
love6(-6, 2)

False

In [166]:
love6(-2, -4)

False

In [167]:
love6(1, 7)

False

Given a number n, return True if n is in the range 1..10, inclusive. Unless outside_mode is True, in which case return True if the number is less or equal to 1, or greater or equal to 10.

    in1to10(5, False) → True
    in1to10(11, False) → False
    in1to10(11, True) → True

In [203]:
def in1to10(n, outside_mode):
    if outside_mode== False:
        if n in range(1,11):
            return True
        return False
    if n>=10 or n<=1:
        return True
    return False

In [204]:
in1to10(5, False)

True

In [205]:
in1to10(11, False)

False

In [206]:
in1to10(11, True)

True

In [207]:
in1to10(1, True)

True

In [208]:
in1to10(0, False)

False

Given a non-negative number "num", return True if num is within 2 of a multiple of 10. Note: (a % b) is the remainder of dividing a by b, so (7 % 5) is 2. See also: Introduction to Mod

    near_ten(12) → True
    near_ten(17) → False
    near_ten(19) → True

In [274]:
def near_ten(num):
    
    pass

In [275]:
near_ten(12)

In [276]:
near_ten(17)

In [277]:
near_ten(19)

We want to make a row of bricks that is goal inches long. We have a number of small bricks (1 inch each) and big bricks (5 inches each). Return True if it is possible to make the goal by choosing from the given bricks. This is a little harder than it looks and can be done without any loops. See also: Introduction to MakeBricks

    make_bricks(3, 1, 8) → True
    make_bricks(3, 1, 9) → False
    make_bricks(3, 2, 10) → True

In [21]:
def make_bricks(small, big, goal):
    if goal>small+big*5:
        return False
    elif goal%5>small:
        return False
    return True

In [22]:
make_bricks(3, 1, 8)

True

In [23]:
make_bricks(3, 1, 9)

False

In [24]:
make_bricks(3, 2, 10)

True

Given 3 int values, a b c, return their sum. However, if one of the values is the same as another of the values, it does not count towards the sum.

    lone_sum(1, 2, 3) → 6
    lone_sum(3, 2, 3) → 2
    lone_sum(3, 3, 3) → 0

In [32]:
def lone_sum(a, b, c):
    if a==b and a==c:
        return 0
    elif a==c:
        return b
    elif a==b:
        return c
    elif b==c:
        return a
    return a+b+c

In [33]:
lone_sum(1, 2, 3)

6

In [34]:
lone_sum(3, 2, 3)

2

In [35]:
lone_sum(3, 3, 3)

0

Given 3 int values, a b c, return their sum. However, if one of the values is 13 then it does not count towards the sum and values to its right do not count. So for example, if b is 13, then both b and c do not count.


    lucky_sum(1, 2, 3) → 6
    lucky_sum(1, 2, 13) → 3
    lucky_sum(1, 13, 3) → 1

In [9]:
def lucky_sum(a, b, c):
    if a==13:
        return 0
    elif b==13:
        return a
    elif c==13:
        return a+b
    return a+b+c

In [10]:
lucky_sum(1, 2, 3)

6

In [11]:
lucky_sum(1, 2, 13)

3

In [12]:
lucky_sum(1, 13, 3)

1

Given 3 int values, a b c, return their sum. However, if any of the values is a teen -- in the range 13..19 inclusive -- then that value counts as 0, except 15 and 16 do not count as a teens. Write a separate helper "def fix_teen(n):"that takes in an int value and returns that value fixed for the teen rule. In this way, you avoid repeating the teen code 3 times (i.e. "decomposition"). Define the helper below and at the same indent level as the main no_teen_sum().


    no_teen_sum(1, 2, 3) → 6
    no_teen_sum(2, 13, 1) → 3
    no_teen_sum(2, 1, 14) → 3

In [2]:
def no_teen_sum(a, b, c):
    def  fix_teen(n):
        return n if n not in [13,14,17,18,19] else 0
    return fix_teen(a)+fix_teen(b)+fix_teen(c)

In [3]:
no_teen_sum(1, 2, 3)

6

In [4]:
no_teen_sum(2, 13, 1)

3

In [5]:
no_teen_sum(2, 1, 14)

3

For this problem, we'll round an int value up to the next multiple of 10 if its rightmost digit is 5 or more, so 15 rounds up to 20. Alternately, round down to the previous multiple of 10 if its rightmost digit is less than 5, so 12 rounds down to 10. Given 3 ints, a b c, return the sum of their rounded values. To avoid code repetition, write a separate helper "def round10(num):" and call it 3 times. Write the helper entirely below and at the same indent level as round_sum().


    round_sum(16, 17, 18) → 60
    round_sum(12, 13, 14) → 30
    round_sum(6, 4, 4) → 10

In [11]:
def round_sum(a, b, c):
    def round10(num):
        if num%10>=5:
            return num-num%10+10
        else:
            if num%10<5:
                return num-num%10
    return round10(a)+round10(b)+round10(c)

In [12]:
round_sum(16, 17, 18)

60

In [13]:
round_sum(12, 13, 14)

30

In [14]:
round_sum(6, 4, 4)

10

Given three ints, a b c, return True if one of b or c is "close" (differing from a by at most 1), while the other is "far", differing from both other values by 2 or more. Note: abs(num) computes the absolute value of a number.


    close_far(1, 2, 10) → True
    close_far(1, 2, 3) → False
    close_far(4, 1, 3) → True

In [29]:
def close_far(a, b, c):
    return ((abs(a-b) <= 1 and (abs(a-c) >= 2 and abs(b-c) >= 2)) or (abs(a-c) <= 1 and (abs(a-b) >= 2 and abs(b-c) >= 2)))

In [30]:
close_far(1, 2, 10)

True

In [31]:
close_far(1, 2, 3)

False

In [32]:
close_far(4, 1, 3)

True